.table {
    border-collapse: collapse;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.table__cell--header {
    border: 2px solid black;
    background-color: #bdbdbd;
    padding: 20px;
    text-align: center;
}

.table__cell {
    border: 2px solid black;
    background-color: #ccc;
    text-align: center;
    padding: 20px;
}

.table__list {
    text-align: left;
}

.table__cell:hover {
    background-color: #383838;
    color: #fff;
}